<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <title>Golden State Warriors Authentic Fans</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
    
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Warriors</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Roster<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Standing</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Player Stats <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Points</a></li>
            <li><a href="#">Rebounds</a></li>
            <li><a href="#">Blocks</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    
    
    
<body>
    
    <div class="col-xs-12" id="one"><img src="/images/logo.png" alt="">GSW Fans</div>
 
    
    <div class="col-sm-0 col-md-2"></div>
    
    <div class="col-xs-12 col-md-5" id="mainForm">
        <h1>Registration</h1>
        
        <form action="/update/{{routeId}}" method="POST">
            
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                <div class="col-sm-12 col-md-6"><label for="fullname">Full Name</label></div>
                <div class="col-sm-12 col-md-6"><input type="text" name="fullname" id="fullname" value="default"></div>
                </div>
            </div>
            <br>
            <br>
            
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-12 col-md-6">
                    <label>Gender:</label></div>
                <div class="col-sm-6 col-md-3">
                    <input type="radio" name="gender" id="" value="option1" checked> Male
                </div>
                <div class="col-sm-6 col-md-3">
                    <input type="radio" name="gender" id="" value="option1" checked> Female
                </div>
            </div>
            <br>
            <br>
            
            <div class="col-sm-12 col-md-12">
                 <label for="email" class="col-sm-12 col-md-6">E-mail:</label>
                 <div class="col-sm-12 col-md-6"><input type="email" class="form-control" name="email" id="inputEmail" placeholder=""></div>
            </div>
            <br>
            <br>
            
            <div class="col-sm-12 col-md-12">
                <label class="col-sm-12 col-md-6">Favourite Player</label>
                <select name="cars" id="cars" class="col-sm-12 col-md-6">
                    <option value="volvo">Stephen Curry</option>
                    <option value="saab">Klay Thompson</option>
                    <option value="fiat">Kevin Durant</option>
                    <option value="audi">Draymond Green</option>
                </select>
            </div>
            <br>
            <br>
              
            <div class="col-sm-12 col-md-12">
                <label class="col-xs-12 col-md-12">Basketball Skill Level</label>
                <div class="col-xs-12 col-md-3"><label for="range">Shooting</label></div>
                <div class="col-xs-1 col-md-1"><em>1</em></div>
                <div class="col-xs-10 col-md-7"><input type="range" name="points1" min="0" max="5" id="shoot"></div>
                <div class="col-xs-1 col-md-1"><em>5</em></div>
                <div class="clear"></div>
                <div class="col-xs-12 col-md-3"><label for="range">Passing</label></div>
                <div class="col-xs-1 col-md-1"><em>1</em></div>
                <div class="col-xs-10 col-md-7"><input type="range" name="points2" min="0" max="5" id="shoot"></div>
                <div class="col-xs-1 col-md-1"><em>5</em></div>
                <div class="clear"></div>
                <div class="col-xs-12 col-md-3"><label for="range">Dribbling</label></div>
                <div class="col-xs-1 col-md-1"><em>1</em></div>
                <div class="col-xs-10 col-md-7"><input type="range" name="points3" min="0" max="5" id="shoot"></div>
                <div class="col-xs-1 col-md-1"><em>5</em></div>
                <div class="clear"></div>
                <div class="col-xs-12 col-md-3"><label for="range">Defense</label></div>
                <div class="col-xs-1 col-md-1"><em>1</em></div>
                <div class="col-xs-10 col-md-7"><input type="range" name="points4" min="0" max="5" id="shoot"></div>
                <div class="col-xs-1 col-md-1"><em>5</em></div>
                <div class="clear"></div>
                <div class="col-xs-12 col-md-3"><label for="range">Block</label></div>
                <div class="col-xs-1 col-md-1"><em>1</em></div>
                <div class="col-xs-10 col-md-7"><input type="range" name="points5" min="0" max="5" id="shoot"></div>
                <div class="col-xs-1 col-md-1"><em>5</em></div>
                <div class="clear"></div>
                <div class="col-xs-12 col-md-3"><label for="range">Footwork</label></div>
                <div class="col-xs-1 col-md-1"><em>1</em></div>
                <div class="col-xs-10 col-md-7"><input type="range" name="points6" min="0" max="5" id="shoot"></div>
                <div class="col-xs-1 col-md-1"><em>5</em></div>
                <div class="clear"></div>
            </div>

            <br>
            <br>
            
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-12 col-md-12"><label for="email"> YourPhoto:</label></div>
                <div class="col-sm-12 col-md-12"><input type="file" name="img" multiple></div>
            </div>
            
           
            <br>
            <br>
            <br>
            <div class="col-xs-12">
                <input type="submit" value="Submit">
            </div>
            <br>
            <br>
            <br>
        </form>
    </div>
    <div class="col-xs-12 col-md-2" id="two"></div>
    <div class="col-sm-0 col-md-3"> </div>
    
             
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

    </html>