<!DOCTYPE html>


<html>


<head>


    <title> Radar Chart Result </title>
    <script type="text/javascript" src="js/Chart.bundle.min.js"></script>
    
   <style>
       #radarChart{
           width: 500px;
           height: 500px;
           max-height: 600px;
           max-width: 600px;
       }
    
    
    
    
    
    
    </style>
    </head>
    <body>
        <canvas id="radarChart" width="500" height="500"></canvas>
        
        <script>
            var ctx = document.getElementById("radarChart");
            
            fetch('http://localhost:3000/getdata')
               .then(function(response){
                  return response.json();
              }).then(function(data){
                   console.log(data);                    
                    
                var dataset = [];
                var color = [        
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)']
                
                for(var i=0;i<data.length;i++){
                    dataset[i] = {
                            label: 'Student ' + i + ' Data',
                            data: [data[i].storename,data[i].storeaddress,data[i].storecity,data[i].storestate,data[i].storeowner,data[i].otherInfo],
                            backgroundColor: color[i],
                            //borderColor: 'rgba('+(i*50+10)+','+i*20+',0,1)',
                    }
                }
              
                var radarChart = new Chart(ctx, {
                    type: 'radar',
                    data: {
                        labels: ["English","Math","Science","History","PE","Computer"],
                        datasets: dataset
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
         }
            )
                    
                    
                    
//                    var data = {
//                    labels:["English","Math","Science","History","PE","Computer"],
//                    datasets:[
//                    {
//                     label: "My First dataset",
//            backgroundColor: "rgba(179,181,198,0.2)",
//            borderColor: "rgba(179,181,198,1)",
//            pointBackgroundColor: "rgba(179,181,198,1)",
//            pointBorderColor: "#fff",
//            pointHoverBackgroundColor: "#fff",
//            pointHoverBorderColor: "rgba(179,181,198,1)",
//            data: [65, 59, 90, 81, 56, 55, 40]
//                    }
//                    ]
//                    }
//                   
//                   var myRadarChart = new Chart (ctx,{
//                    type: 'radar',
//                    data: data,
//                    options:options
//                    })
//                   )
            
        </script> 
    </body>
</html>