#head {
    font-size: 30px;
    text-align: center;
}

#head1 {
    font-size: 15px;
    text-align: center;
    color:red;
}

#head2 {
    text-align: right;
}

#head4 {
    text-align: center;
}

#mainRes {
    text-align: center;
    font-size: 40px;
}